@font-face {
  font-family: "Roboto-Black";
  src: url(fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(fonts/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url(fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url(fonts/Roboto-ThinItalic.ttf);
}

body {
  margin: 0 0;
}

header {
  padding: 15px 13%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #1f2937;
}

.logo {
  text-decoration: none;
  font-family: "Roboto-Black";
  font-size: 24px;
  color: #f9faf8;
}

nav ul {
  display: flex;
  width: 430px;
  justify-content: space-between;
  font-family: "Roboto-Light";
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

article {
  margin: 6% 0%;
  text-align: center;
  display: flex;
}

.left_section {
  flex: 1;
}

.center_section {
  flex: 2;
}

.right_section {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

article h2 {
  font-family: "Roboto-Regular";
  color: goldenrod;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 40%;
  margin-bottom: 10px;
  font-family: "Roboto-Light";
  font-size: 15px;
  padding: 6px 15px;
  border: 1px solid grey;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 6px 28px;
  font-family: "Roboto-Light";
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: white;
  color: #3882f6;
}

article h3 {
  font-family: "Roboto-Italic";
  font-size: 18px;
  color: rgb(108, 108, 108);
}

.social_media {
  display: flex;
  justify-content: center;
}

.social_media img {
  width: 35px;
  height: 35px;
  margin: 0px 15px;
}

.right_section img {
  width: 260px;
  height: auto;
  transform: rotate(20deg);
}

.left_section img {
  width: 320px;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 26px 0px;
  width: 100%;
  background-color: #1f2937;
  text-align: center;
  font-family: "Roboto-Light";
  color: white;
}
