@font-face {
  font-family: "Roboto-Black";
  src: url(fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(fonts/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url(fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url(fonts/Roboto-ThinItalic.ttf);
}

body {
  margin: 0 0;
}

header {
  padding: 15px 13%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #1f2937;
}

.logo {
  text-decoration: none;
  font-family: "Roboto-Black";
  font-size: 24px;
  color: #f9faf8;
}

nav ul {
  display: flex;
  width: 430px;
  justify-content: space-between;
  font-family: "Roboto-Light";
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.first_article {
  display: flex;
  padding: 7% 13% 5%;
  background-color: #1f2937;
}

.left,
.right {
  flex: 0 0 50%;
  box-sizing: border-box; /*Otherwise adding "padding" will lead to an unequal width distribution*/
}

.left {
  padding-right: 50px;
}

/*
.right {
  font-family: "Roboto-Medium";
  font-size: 16px;
  display: inline-block;
  background-color: #8e9093;
  text-align: center;
  height: 220.65px;
  line-height: 220.65px;
  color: #e5e7eb;
}
*/

.right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.boat_img {
  width: 50%;
  height: auto;
  transform: rotate(-6deg);
}

.left h1 {
  font-family: "Roboto-Bold";
  font-size: 48px;
  font-weight: 800; /*Extra bold*/
  color: #f9faf8;
  margin-bottom: -3%;
  margin-top: -2%;
}

.left p {
  font-family: "Roboto-Light";
  color: #e5e7eb;
}

.left button {
  padding: 5px 28px;
  font-family: "Roboto-Light";
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 5px;
}

.second_article {
  padding-bottom: 100px;
}

.second_article h1 {
  text-align: center;
  font-family: "Roboto-Bold"; /*It's not showing the right font-weight. The text in the assignment pdf looks bolder.*/
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card {
  width: 220px;
  margin: 0px 15px;
}

/*.illustration {
  box-sizing: border-box;
  width: 140px;
  height: 140px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}*/

.card img {
  width: 220px;
  height: 140px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
}

.card figcaption {
  font-family: "Roboto-Regular";
  color: #7f7f7f;
}

blockquote {
  background-color: #e5e7eb;
  padding: 100px 290px;
  margin: 0% 0% -3% 0%;
}

blockquote q {
  font-family: "Roboto-LightItalic";
  font-size: 36px;
  color: #1f2937;
}

blockquote p {
  font-family: "Roboto-Bold";
  font-size: 20px;
  text-align: right;
  color: #1f2937;
}

.third_article {
  display: flex;
  align-items: center;
  padding: 20px 120px;
  margin: 100px 200px;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 6px;
}

.third_article section {
  flex: 9;
}

.third_article section h3 {
  font-family: "Roboto-Bold";
  color: rgb(245, 245, 245);
  margin-bottom: -2%;
}

.third_article section p {
  font-family: "Roboto-Light";
  font-size: 14px;
  color: rgb(223, 223, 223);
}

.third_article button {
  flex: 1;
  padding: 5px 28px;
  font-family: "Roboto-Light";
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #3882f6;
  border: 1px solid white;
  border-radius: 5px;
}

footer {
  padding: 26px 0px;
  background-color: #1f2937;
  text-align: center;
  font-family: "Roboto-Light";
  color: white;
}
